{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static '/plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}
{% block content %}

    {% load dict_lookup %}
    <!-- Main content -->

    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Worker Node</h3>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            {% for item,value in stats.items %}
                                {% if forloop.counter == 1 %}
                                    <li class="active"><a href="#completed{{ forloop.counter }}"
                                                          data-toggle="tab">{{ item }}</a></li>
                                {% else %}
                                    <li class=""><a href="#completed{{ forloop.counter }}"
                                                    data-toggle="tab">{{ item }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Processed <small> number of completed tasks</small></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="table-responsive mailbox-messages">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <!-- /.tab-pane -->
                                        {% if stats.items %}
                                            {% for item,value in stats.items %}
                                                {% if forloop.counter == 1 %}
                                                    <div class="tab-pane active" id="completed{{ forloop.counter }}">
                                                {% else %}
                                                    <div class="tab-pane " id="completed{{ forloop.counter }}">
                                                {% endif %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <section class="content-header">
                                                        <table id="completed_list{{ forloop.counter }}"
                                                               class="table table-hover table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Num</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for task,num in value.total.items %}
                                                                <tr>
                                                                    <td>{{ task }}</td>
                                                                    <td>{{ num }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </section>
                                                </div>
                                            </div>
                                            </div>
                                                <!-- /.tab-pane -->
                                            {% endfor %}
                                        {% else %}
                                            No active worker!
                                        {% endif %}
                                        </div>
                                        <!-- /.tab-content -->
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /. box -->
            </div>
            <!-- /.col -->
        </div>
            <!-- /.row -->
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Worker Node</h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">

                        <ul class="nav nav-pills nav-stacked">
                            {% for item,value in active_tasks.items %}
                                {% if forloop.counter == 1 %}
                                    <li class="active"><a href="#active{{ forloop.counter }}"
                                                          data-toggle="tab">{{ item }}</a></li>
                                {% else %}
                                    <li class=""><a href="#active{{ forloop.counter }}" data-toggle="tab">{{ item }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Active <small> currently executing tasks</small></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="table-responsive mailbox-messages">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <!-- /.tab-pane -->
                                        {% if active_tasks.items %}
                                            {% for item,value in active_tasks.items %}
                                                {% if forloop.counter == 1 %}
                                                    <div class="tab-pane active" id="active{{ forloop.counter }}">
                                                {% else %}
                                                    <div class="tab-pane " id="active{{ forloop.counter }}">
                                                {% endif %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <section class="content-header">
                                                        <table id="active_list{{ forloop.counter }}"
                                                               class="table table-hover table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>UUID</th>
                                                                <th>Start time</th>
                                                                <th>Ack</th>
                                                                <th>PID</th>
                                                                <th>args</th>
                                                                <th>kwargs</th>
                                                                <th>Operation</th>
                                                            </tr>
                                                            </thead>

                                                            <tbody>
                                                            {% for tasks in value %}
                                                                <tr>
                                                                    <td>{{ tasks.name }}</td>
                                                                    <td>{{ tasks.id }}</td>
                                                                    <td>{{ tasks.time_start }}</td>
                                                                    <td>{{ tasks.acknowledged }}</td>
                                                                    <td>{{ tasks.worker_pid }}</td>
                                                                    <td>{{ tasks.args }}</td>
                                                                    <td>{{ tasks.kwargs }}</td>
                                                                    <td>
                                                                        <button type="button" class="btn btn-xs btn-danger"
                                                                                onclick="on_task_terminate('{{ tasks.id }}','{{ item }}')">
                                                                            Terminate
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </section>
                                                </div>
                                            </div>
                                            </div>
                                                <!-- /.tab-pane -->
                                            {% endfor %}
                                        {% else %}
                                            No active worker!
                                        {% endif %}
                                        </div>
                                        <!-- /.tab-content -->
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /. box -->
            </div>
            <!-- /.col -->
{#      </div>#}
            <!-- /.row -->
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Worker Node</h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">

                        <ul class="nav nav-pills nav-stacked">
                            {% for item,value in scheduled_tasks.items %}
                                {% if forloop.counter == 1 %}
                                    <li class="active"><a href="#scheduled{{ forloop.counter }}"
                                                          data-toggle="tab">{{ item }}</a></li>
                                {% else %}
                                    <li class=""><a href="#scheduled{{ forloop.counter }}"
                                                    data-toggle="tab">{{ item }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Scheduled <small> scheduled (eta/countdown/retry) tasks</small></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="table-responsive mailbox-messages">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <!-- /.tab-pane -->
                                        {% if scheduled_tasks.items %}
                                            {% for item,value in scheduled_tasks.items %}
                                                {% if forloop.counter == 1 %}
                                                    <div class="tab-pane active" id="scheduled{{ forloop.counter }}">
                                                {% else %}
                                                    <div class="tab-pane " id="scheduled{{ forloop.counter }}">
                                                {% endif %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <section class="content-header">
                                                        <table id="scheduled_list{{ forloop.counter }}"
                                                               class="table table-hover table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>UUID</th>
                                                                <th>args</th>
                                                                <th>kwargs</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for task in value %}
                                                                <tr>
                                                                    <td>{{ task.name }}</td>
                                                                    <td>{{ task.id }}</td>
                                                                    <td>{{ task.args }}</td>
                                                                    <td>{{ task.kwargs }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </section>
                                                </div>
                                            </div>
                                            </div>
                                                <!-- /.tab-pane -->
                                            {% endfor %}
                                        {% else %}
                                            No active worker!
                                        {% endif %}
                                        </div>
                                        <!-- /.tab-content -->
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /. box -->
            </div>
            <!-- /.col -->
{#      </div>#}
            <!-- /.row -->
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Worker Node</h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">

                        <ul class="nav nav-pills nav-stacked">
                            {% for item,value in reserved_tasks.items %}
                                {% if forloop.counter == 1 %}
                                    <li class="active"><a href="#reserved{{ forloop.counter }}"
                                                          data-toggle="tab">{{ item }}</a></li>
                                {% else %}
                                    <li class=""><a href="#reserved{{ forloop.counter }}"
                                                    data-toggle="tab">{{ item }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Reserved <small> tasks that have been received, but are still waiting to
                            be executed</small></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="table-responsive mailbox-messages">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <!-- /.tab-pane -->
                                        {% if reserved_tasks.items %}
                                            {% for item,value in reserved_tasks.items %}
                                                {% if forloop.counter == 1 %}
                                                    <div class="tab-pane active" id="reserved{{ forloop.counter }}">
                                                {% else %}
                                                    <div class="tab-pane " id="reserved{{ forloop.counter }}">
                                                {% endif %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <section class="content-header">
                                                        <table id="reserved_list{{ forloop.counter }}"
                                                               class="table table-hover table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>UUID</th>
                                                                <th>args</th>
                                                                <th>kwargs</th>
                                                                <th>Operation</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for retask in value %}
                                                                <tr>
                                                                    <td>{{ retask.name }}</td>
                                                                    <td>{{ retask.id }}</td>
                                                                    <td>{{ retask.args }}</td>
                                                                    <td>{{ retask.kwargs }}</td>
                                                                    <td>
                                                                        <button type="button" class="btn btn-xs btn-danger"
                                                                                onclick="on_task_revoke('{{ retask.id }}','{{ item }}')">
                                                                            Revoke
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </section>
                                                </div>
                                            </div>
                                            </div>
                                                <!-- /.tab-pane -->
                                            {% endfor %}
                                        {% else %}
                                            No active worker!
                                        {% endif %}
                                        </div>
                                        <!-- /.tab-content -->
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /. box -->
            </div>
            <!-- /.col -->
{#      </div>#}
            <!-- /.row -->
        <!-- /.row -->
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Worker Node</h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">

                        <ul class="nav nav-pills nav-stacked">
                            {% for item,value in revoked_tasks.items %}
                                {% if forloop.counter == 1 %}
                                    <li class="active"><a href="#revoked{{ forloop.counter }}"
                                                          data-toggle="tab">{{ item }}</a></li>
                                {% else %}
                                    <li class=""><a href="#revoked{{ forloop.counter }}"
                                                    data-toggle="tab">{{ item }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Revoked <small> cancelled tasks</small></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="table-responsive mailbox-messages">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content">
                                        <!-- /.tab-pane -->
                                        {% if revoked_tasks.items %}
                                            {% for item,value in revoked_tasks.items %}
                                                {% if forloop.counter == 1 %}
                                                    <div class="tab-pane active" id="revoked{{ forloop.counter }}">
                                                {% else %}
                                                    <div class="tab-pane " id="revoked{{ forloop.counter }}">
                                                {% endif %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <section class="content-header">
                                                        <table id="revoked_list{{ forloop.counter }}"
                                                               class="table table-hover table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>UUID</th>
                                                                <th>args</th>
                                                                <th>kwargs</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for task in value %}
                                                                <tr>
                                                                    <td>{{ task.name }}</td>
                                                                    <td>{{ task }}</td>
                                                                    <td>{{ task.args }}</td>
                                                                    <td>{{ task.kwargs }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </section>
                                                </div>
                                            </div>
                                            </div>
                                                <!-- /.tab-pane -->
                                            {% endfor %}
                                        {% else %}
                                            No active worker!
                                        {% endif %}
                                        </div>
                                        <!-- /.tab-content -->
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /. box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}
{% block js %}
    <script>
        $('#page_header').text('工作状态');
        $('#page_header_descript').text('worker status');
    </script>
    <script src="{% static '/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static "plugins/bootbox/bootbox.js" %}"></script>

    <script>
        {% for item,value in stats.items%}
            $(function () {
                $('#completed_list{{forloop.counter}}').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true
                });
            });
        {%endfor%}
    </script>
    <script>
        {% for item,value in reserved_tasks.items %}
            $(function () {
                $('#reserved_list{{forloop.counter}}').DataTable();
            });
        {%endfor%}
    </script>
    <script>
        {% for item,value in active_tasks.items%}
            $(function () {
                $('#active_list{{forloop.counter}}').DataTable();
            });
        {%endfor%}
    </script>
    <script>
        {% for item,value in scheduled_tasks.items%}
            $(function () {
                $('#scheduled_list{{forloop.counter}}').DataTable();
            });
        {%endfor%}
    </script>
    <script>
        {% for item,value in revoked_tasks.items%}
            $(function () {
                $('#revoked_list{{forloop.counter}}').DataTable();
            });
        {%endfor%}
        function on_task_terminate(task_id, destination) {
            var parameter = JSON.stringify({"task_id": task_id, "destination": destination});
            bootbox.confirm({
                message: "Are you sure to terminate the task " + task_id + " on worker " + destination + " !",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'Cancel',
                        className: 'btn-success'
                    }
                },
                callback: function (result) {
                    if (result === true) {
                        $.get('{% url 'operations' %}', {
                            "command": "terminate",
                            "parameter": parameter
                        }, function (ret) {
                            if (ret.status === 'success') {
                                toastr["success"](ret.message);
                            } else {
                                toastr["error"](ret.message);
                            }
                        }, 'json');
                    }
                }
            });
        }

        function on_task_revoke(task_id, destination) {
            var parameter = JSON.stringify({"task_id": task_id, "destination": destination});
            bootbox.confirm({
                message: "Are you sure to revoke the task " + task_id + ' on ' + destination + " !",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'Cancel',
                        className: 'btn-success'
                    }
                },
                callback: function (result) {
                    if (result === true) {
                        $.get('{% url 'operations' %}', {"command": "revoke", "parameter": parameter}, function (ret) {
                            if (ret.status === 'success') {
                                toastr["success"](ret.message);
                            } else {
                                toastr["error"](ret.message);
                            }
                        }, 'json');
                    }
                }
            });
        }
    </script>
{% endblock %}