{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %} ">
<link rel="stylesheet" href="{% static 'plugins/json-forms/css/brutusin-json-forms.css' %} ">
<!-- DataTables css -->
<link rel="stylesheet" href="{% static '/plugins/datatables/dataTables.bootstrap.css' %}">
<link rel="stylesheet" href="{% static "plugins/json-view/jquery.jsonview.min.css" %}">
<link rel="stylesheet" href="{% static "plugins/datepicker/datepicker3.css" %}">
<!-- Daterange picker -->
<link rel="stylesheet" href="{% static "plugins/daterangepicker/daterangepicker.css" %}">
{% endblock %}
{% block content %}
<div class="col-xs-12">
  <div class="box">
      <div class="box-body">
        <form class="form-inline">
            <div class="form-group form-group-sm">
                <label for="task_name">操作用户名:</label>
                <input  type="text" style="width:200px;margin-right: 30px" class="form-control input-sm" placeholder="不支持模糊搜索" id="id_op_user" name="op_user">
                <label for="id_start_time">开始时间:</label>
                <input style="margin-right: 30px" class="form-control input-sm datetime" id="id_start_time" maxlength="" name="start_time" placeholder="Start Time" required="required" value="{{ start_time }}" type="text">
                <label for="id_end_time">结束时间:</label>
                <input style="margin-right: 30px" class="form-control input-sm datetime" id="id_end_time" maxlength="" name="end_time" placeholder="End Time" required="required" value="{{ end_time }}" type="text">
            </div>
            <div class="form-group form-group-sm">
                <a class="btn btn-block btn-primary btn-sm" id="query" onclick="oplog_search()">搜索</a>
            </div>
        </form>
      </div>
    <!-- /.box-body -->
  </div>
  <div class="box">
    <div class="box-body">
        <table class="table table-bordered table-striped table-hover" id="operationloglist" style="width: 100%">
        </table>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
<!-- /.col -->
{% endblock %}
{% block js %}
<script>
  $('#page_header').text('日志审计');
  $('#page_header_descript').text('操作平台审计');
</script>
<!-- daterangepicker -->
<script src="{% static "autocronjob/js/moment.min.js" %}"></script>
<script src="{% static "plugins/daterangepicker/daterangepicker.js" %}"></script>
<!-- datepicker -->
<script src="{% static "plugins/datepicker/bootstrap-datepicker.js" %}"></script>
<script src="{% static 'plugins/markdown/markdown.js' %} "></script>
<script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.js' %} "></script>
<!-- DataTables -->
<script src="{% static '/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
{#<script src="{% static 'plugins/daterangepicker/moment.js' %}"></script>#}
<script type="text/javascript">
	  $(function () {
	  $('.datetime').daterangepicker({
	  timePicker: true,
	  timePickerIncrement: 1,
	  format: 'YYYY-MM-DD HH:mm:ss',
		timePickerSeconds:true,
		autoApply:true,
		singleDatePicker:true,
		timePicker24Hour:true,
		clearStatus:false,
		autoUpdateInput: false,
		locale: {
			"format": 'YYYY-MM-DD HH:mm:ss'
		}
	  });

		$('.datetime').on('apply.daterangepicker', function(ev, picker) {
			$(this).val(picker.startDate.format('YYYY-MM-DD HH:mm:ss'));
		});

		$('.datetime').on('cancel.daterangepicker', function(ev, picker) {
		$(this).val('');
		});
	  });
</script>

<script>
var table;
function oplog_search() {
    if ($('input[name=start_time]').val().length !== 0 && $('input[name=end_time]').val().length !== 0) {
        if ($('input[name=start_time]').val() > $('input[name=end_time]').val()) {
            toastr["error"]('开始时间不能大于结束时间，请重新选择!');
        } else {
            table.clear();
            table.draw();
        }
    } else {
        toastr["error"]('时间不能为空，请重新选择!');
    }
}

// table初始化方法
function initDataTable(urlParam, columnsParam) {
    return {
            sPaginationType: "full_numbers", //分页风格，full_number会把所有页码显示出来
            searching: false,//搜索
            ordering: false,//是否启用排序
            bProcessing: true, //是否显示加载
            sAjaxSource: urlParam, //请求资源路径
            serverSide: true, //开启服务器处理模式
            /*
             使用ajax，在服务端处理数据
             sSource:即是"sAjaxSource"
             aoData:要传递到服务端的参数
             fnCallback:处理返回数据的回调函数
             */
            fnServerData: function (sSource, aoData, fnCallback) {
                var op_user = $('#id_op_user').val();
                if (op_user.length  !== 0) {
                    aoData.push({ "name": "op_user", "value": op_user});
                }
                aoData.push({"name": "search_time", "value": [$('input[name=start_time]').val(), $('input[name=end_time]').val()]});
                $.ajax({
                    'type': 'POST',
                    "url": sSource,
                    "dataType": "json",
                    "data": {"aodata": JSON.stringify(aoData)},
                    "success": function (resp) {
                        fnCallback(resp);
                    }
                });
            },
            "oLanguage": {//语言设置
                "sLengthMenu": '<select class="form-control" style="width:150px">'
                + '<option value="10"  selected>每页10条</option>'
                + '<option value="20">每页20条</option>'
                + '<option value="50">每页50条</option>'
                + '<option value="100">每页100条</option>'
                + '</select>',
                "sProcessing": "处理中...",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "Showing _START_ to _END_ of _TOTAL_ entries",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(获取 _MAX_ 项结果)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "No data available in table",
                "sLoadingRecords": "loading...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "Home",
                    "sPrevious": "Previous",
                    "sNext": "Next",
                    "sLast": "End"
                }
            },
{#            "bProcessing": true, //开启读取服务器数据时显示正在加载中……特别是大数据量的时候，开启此功能比较好#}
            "bServerSide": true, //开启服务器模式，使用服务器端处理配置datatable。
            // 注意：sAjaxSource参数也必须被给予为了给datatable源代码来获取所需的数据对于每个画。
            // 这个翻译有点别扭。开启此模式后，你对datatables的每个操作 每页显示多少条记录、下一页、上一页、排序（表头）、搜索，这些都会传给服务器相应的值。
            "columns": columnsParam
    }
}

var urlParam = "{% url 'operationlog' %}";
var columnsParam = [
    {title: "操作用户名", data: "op_user"},
    {title: "操作用户ip", data: "op_user_ip"},
    {
        title: "操作时间",
        data: "op_time",
        "render": function (data, type, full, meta) {
            return moment.utc(data).local().format("YYYY-MM-DD HH:mm:ss");

        }
    },
    {title: "操作内容", data: "op_msg"},
    {title: "操作对象", data: "op_object"},
    {title: "操作是否成功", data: "is_success"},
    {
        title: "操作失败原因",
        data: "op_failed_msg",
        "render": function (data, type, full, meta) {
            if (data === null || data === ''){
                return '-'
            } else  {
                return data
            }

        }
    }
    ];

$(function () {
    table = $('#operationloglist').DataTable(
        initDataTable(urlParam, columnsParam)
    );
});
</script>
{% endblock %}
